.callout[data-callout="web"] {
    --callout-color: 134, 205, 249;
    --callout-icon: lucide-globe;
}

.callout[data-callout="detail"] {
    --callout-color: 219, 225, 170;
    --callout-icon: lucide-book-user;
}

.callout[data-callout="important"] {
    --callout-color: 121, 244, 68;
    --callout-icon: lucide-megaphone;
}

.callout[data-callout="linfo"] {
    --callout-color: 106, 108, 117;
    --callout-icon: lucide-move-right;
}
